@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
.max-width{
	max-inline-size: 1300px;
	padding: 0 80px;
	margin: auto;
}
/* navbar styling */
.navbar
{
	position: fixed;
	z-index: 999;
	padding: 30px 0;
	inline-size: 100%;
	font-family: 'ubuntu', sans-serif;
	transition: all 0.3s ease;
}
.navbar.sticky{
	padding: 15px 0;
	background: #4472c4;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a{
	font-size: 35px;
	color: #fff;
	font-weight: 600;
}
.navbar .logo a span{
	color: #4472c4;
}
.navbar.sticky .logo a span{
	color: #fff;
	transition: all 0.3s ease;
}
.navbar .menu li{
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-inline-start: 25px;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover{
	color: #4472c4;
}
.navbar.sticky .menu li a{
	color: #fff;
}
/*  */
.menu-btn{
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}
.scroll-up-btn{
	position:fixed;
	block-size: 45px;
	inline-size: 42px;
	background: #4472c4;
	inset-inline-end: 30px;
	inset-block-end: 10px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	z-index: 999;
	font-size: 30px;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease; 
}
.scroll-up-btn.show{
	inset-block-end: 30px;
	opacity: 1;
	pointer-events: auto;
}

/* home section styling */
.accueil{
	display: flex;
	background: url("images/image1.jpg") no-repeat center;
	background-size:cover;
	block-size: 100vh;
	color: #fff;
	min-block-size: 500px;
	font-family: 'ubuntu', sans-serif;
}
.accueil .max-width{
	margin: auto 0 auto 40px;
}
.accueil .contenu-accueil .text-1{
	font-size: 27px;
}
.accueil .contenu-accueil .text-2{
	font-size: 75px;
	font-weight: 600;
	margin-inline-start: -3px;
}
.accueil .contenu-accueil .text-3{
	font-size: 40px;
	margin: 5px 0;
}
.accueil .contenu-accueil .text-3 span{
	color: #4472c4;
	font-weight: 500;
}
.accueil .contenu-accueil a{
	display: inline-block;
	background: #4472c4;
	color: #fff;
	font-size: 25px;
	padding: 12px 36px;
	margin-block-start: 20px;
	border-radius: 6px;
	border: 2px solid #4472c4;
	transition: all 0.3s ease;
}
.accueil .contenu-accueil a:hover{
	color:#4472c4;
	background: none;
}
/* all similar content styling code */
section{
	padding: 100px 0;
}
.apropos, .services, .competences, .equipe, .contact, footer{
	font-family: 'poppins', sans-serif;
}
.apropos .contenu-apropos, 
.services .contenu-services, 
.competences, 
.contenu-competences,
.contact .contenu-contact {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
section .titre{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-block-end: 60px;
	padding-block-end: 20px;
	font-family: 'ubuntu', sans-serif;
}
section .titre::before{ 
	content: "";
	position: absolute;
	inset-block-end: 0px;
	inset-inline-start: 50%;
	inline-size: 180px;
	block-size: 3px;
	background: #111;
	transform: translateX(-50%);
}
section .titre::after{
	position: absolute;
	inset-block-end: -10px;
	inset-inline-start: 50%;
	font-size: 20px;
	color: #4472c4;
	padding: 2px;
	background: #fff;
	transform: translateX(-50%);
}

/* apropos section styling */
.apropos .titre::after{
	content: "Qui suis-je ?";
}
.apropos .contenu-apropos .left {
	inline-size: 45%;
}
.apropos .contenu-apropos .left img{
	inline-size: 400px;
 	block-size: 400px;
	object-fit: cover;
	border-radius: 6px;
}
.apropos .contenu-apropos .right {
	inline-size: 55%;
}
.apropos .contenu-apropos .right .text{
	font-size: 25px;
	font-weight: 600;
	margin-block-end: 10px;
}
.apropos .contenu-apropos .right .text span{
	color: #4472c4;
}
.apropos .contenu-apropos .right p{
	text-align: justify;
}
.apropos .contenu-apropos .right a{
	display: inline-block;
	background: #4472c4;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-block-start: 20px;
	border-radius: 6px;
	border: 2px solid #4472c4;
	transition: all 0.3s ease;
}
.apropos .contenu-apropos .right a:hover{
	background: none;
	color:#4472c4;
}

/* Services sections styling */
.services, .equipe{
	background: #111;
	color: #fff;
}
.services .titre::before, 
.equipe .titre::before{
	background: #fff;
}
.services .titre::after,
.equipe .titre::after{
	background: #111;
	content: "Champ d'action";
}
.services .contenu-services .card{
	inline-size: calc(33% - 20px);
	background: #222;
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.services .contenu-services .card:hover{
	background: #4472c4;
}
.services .contenu-services .card .box{
	transition: all 0.3s ease;
}
.services .contenu-services .card:hover .box{
	transform: scale(1.05);
}
.services .contenu-services .card i{
	font-size: 50px;
	color: #4472c4;
}
.services .contenu-services .card:hover i{
	color: #fff;
	transition: color 0.3s ease;
}
.services .contenu-services .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}


/* Services sections styling */

.competences .titre::after{
	content: "savoir faire";
}
.competences .contenu-competences .column{
	inline-size: calc(50% - 30px);
}
.competences .contenu-competences .left .text{
	font-size: 20px;
	font-weight: 600;
	margin-block-end: 25px;
}
.competences .contenu-competences .left p{
	text-align: justify;
}
.competences .contenu-competences .left a{
	display: inline-block;
	background: #4472c4;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 16px;
	margin-block-start: 20px;
	border-radius: 6px;
	border: 2px solid #4472c4;
	transition: all 0.3s ease;
}
.competences .contenu-competences .left a:hover{
	color: #4472c4;
	background: none;
}
.competences .contenu-competences .right .bars{
	margin-block-end: 15px;
}
.competences .contenu-competences .right .info{
	display: flex;
	margin-block-end: 5px;
	align-items: center;
	justify-content: space-between;
}
.competences .contenu-competences .right .span{
	font-weight: 500;
	font-size: 20px;
}
.competences .contenu-competences .right .line{
	block-size: 5px;
	inline-size: 100%;
	background: lightgray;
	position: relative;
}
.competences .contenu-competences .right .line::before{
	content: "";
	position: absolute;
	block-size: 100%;
	inset-inline-start: 0;
	inset-block-start: 0;
	background: #4472c4;
}
.competences .contenu-competences .right .html_css::before{
	inline-size: 90%;
}
.competences .contenu-competences .right .javascript::before{
	inline-size: 40%;
}
.competences .contenu-competences .right .php_mysql::before{
	inline-size: 20%;
}
.competences .contenu-competences .right .flutter::before{
	inline-size: 40%;
}
.competences .contenu-competences .right .c::before{
	inline-size: 4%;
}

/* equipe section styling */
.equipe .titre::after{
	content: "la DiForce";
}
.equipe .carousel .card{
	background: #222;
	border-radius: 6px;
	padding: 25px 35px;
	text-align: center;
	transition: all 0.3s ease;
}
.equipe .carousel .card:hover{
	background: #4472c4;
}
.equipe .carousel .card .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}
.equipe .carousel .card:hover .box{
	transform: scale(1.O5);
}
.equipe .carousel .card .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}
.equipe .carousel .card img{
	block-size: 150px;
	inline-size: 150px;
	object-fit: cover;
	border-radius:50%;
	border: 5px solid #4472c4;
	transition: all 0.3s ease;
}
.equipe .carousel .card:hover img{
	border-color: #fff;
}
.owl-dots{
	text-align: center;
	margin-block-start: 20px;

}
.owl-dot{
	block-size: 13px;
	inline-size: 13px;
	margin: 0 5px;
	outline: none!important;
	border-radius: 50%;
	border: 2px solid #4472c4!important;
	transition: all 0.3s ease;
}
.owl-dot.active{
	inline-size: 35px;
	border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
	background: #4472c4!important;
}
/* contact section styling */
.contact .titre::after{
	content: "Garder le lien";
}
.contact .contenu-contact .column{
	inline-size: calc(50% - 30px);
}
.contact .contenu-contact .text{
	font-size: 20px;
	font-weight: 600;
	margin-block-end: 10px;
}
.contact .contenu-contact .left p{
	text-align: justify;
}
.contact .contenu-contact .left .icons{
	margin: 10px 0;
}
.contact .contenu-contact .row{
	display: flex;
	block-size: 65px;
	align-items: center;
}
.contact .contenu-contact .row .info{
	margin-inline-start: 30px; 
}
.contact .contenu-contact .row i{
	font-size: 25px;
	color: #4472c4;
}
.contact .contenu-contact .info .head{
	font-weight: 500;
}
.contact .contenu-contact .sub-titre{
	color: #333;
}
.contact .right form .fields{
	display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
	block-size: 45px;
	inline-size: 100%;
	margin-block-end: 15px;
}
.contact .right form .textarea{
	block-size: 80px;
	inline-size: 100%;
}
.contact .right form .name{
	margin-inline-end: 10px;
}
.contact .right form .email{
	margin-inline-start: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
	block-size: 100%;
	inline-size: 100%;
	border:1px solid lightgray;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: 'poppins', sans-serif;
}
.contact .right form .textarea textarea{
	padding-block-start: 10px;
	resize: none;
}
.contact .right form .button{
	block-size: 47px;
	inline-size: 170px;
}
.contact .right form .button button{
	inline-size: 100%;
	block-size: 100%;
	border: 2px solid #4472c4;
	background: #4472c4;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.contact .right form .button button:hover{
	color: #4472c4;
	background: none;
}
/* footer section styling */
footer{
	background: #111;
	padding: 20px 23px;
	color: #fff;
	text-align: center;
}
footer span a{
	color: #4472c4;
	text-decoration: none;
}
footer span a:hover{
	text-decoration: underline;
}




/*responsive media query start*/
@media (max-inline-size:1300px){
	.accueil .max-width{
		margin-inline-start: 0px;
	}
}
@media (max-inline-size:1104px){
	.apropos .contenu-apropos .left img{
		inline-size: 350px;
		block-size: 350px;
	}
}
@media (max-inline-size:991px){
	.max-width{
		padding: 0 50px;
	}
}
@media (max-inline-size:947px){
	.menu-btn{
		display: block;
		z-index: 999;
	}
	.menu-btn i.active::before{
		content: "\f00d" ;
	}
	.navbar .menu{
		position: fixed;
		block-size: 100vh;
		inline-size: 100%;
		inset-inline-start: -100%;
		inset-block-start: 0;
		background: #111;
		text-align: center;
		padding-block-start: 80px;
		transition: all 0.3s ease;
	}
	.navbar .menu.active{
		inset-inline-start: 0;
	}
	.navbar .menu li {
		display: block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin: 20px;
		font-size: 25px;
	}
	.accueil .contenu-accueil .text-2{
		font-size: 70px;
	}
	.accueil .contenu-accueil .text-3{
		font-size: 35px;
	}
	.accueil .contenu-accueil a{
		font-size: 23px;
		padding: 10px 30px;
	}
	.max-width{
		max-inline-size: 1300px;
	}
	.apropos .contenu-apropos .column{
		inline-size: 100%;
	}
	.apropos .contenu-apropos .left{
		display: flex;
		justify-content: center;
		margin:0 auto 60px;
	}
	.apropos .contenu-apropos .right{
		flex: 100%;
	}
	.services .contenu-services .card{
		inline-size: calc(50% - 10px);
		margin-block-end: 20px;
	}
	.competences .contenu-competences .column,
	.contact .contenu-contact .column{
		inline-size: 100%;
		margin-block-end: 35px;
	}
	
}

@media (max-inline-size:690px){
	.max-width{
		padding: 0 23px;
	}
	.accueil .contenu-accueil .text-2{
		font-size: 60px;
	}
	.accueil .contenu-accueil .text-3{
		font-size: 32px;
	}
	.accueil .contenu-accueil a{
		font-size: 20px;  
	} 
	.services .contenu-services .card,
	.competences .contenu-competences .column{
		inline-size: 100%;
	}


}

@media (max-inline-size:500px){
	.max-width{
		padding: 0 23px;
	}
	.accueil .contenu-accueil .text-2{
		font-size: 50px;
	}
	.accueil .contenu-accueil .text-3{
		font-size: 27px;
	}
}
